@charset "UTF-8";

.store-container{
    border-bottom: 6px solid #dddfe5;
}
.cart--list-container{
    padding-bottom:80px;
}
.process--head{
    padding:16px;
    border-bottom: 6px solid #dddfe5;
}
.process--head-top{
    display: flex;
}
.process--head-title{
    font-size:16px;
    font-weight: bold;
    color:#4a61a3;
    width: 90%;
    text-align: left;
}
.process--head-notice{
    background: #f3f1fc;
    padding: 10px 16px;
    border-radius: 4px;
    margin-top: 16px;
}
.process--head-notice p{
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #7b6dbf;
}
.process--head-order ul{display:flex;}
.process--head-order li img{
    vertical-align: middle; 
    padding:0 4px;
    width: 14px;
    height: 14px;
}
.order1 {
    position: relative;
    background: #4a61a3;
    width: 24px;
    height: 24px;
    border-radius: 50px;
}
.order2, .order3 {
    position: relative;
    background: #BDBDBD;
    width: 24px;
    height: 24px;
    border-radius: 50px;
}
.order_num{
    color:#ffffff;
    font-weight: bold;
    line-height: 24px;
}
.none-comment{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.none-comment p{
    font-size: 15px;
    color: #757575;
}
.countSelect{
    background: #E9EDF2;
    height: 48px;
    line-height: 48px;
    text-align: left;
    padding: 0 16px;
}
.countSelect em{
    font-weight: bold;
}
.countSelect .delBtn{
    float: right;
    font-weight: bold;
    color: #4a61a3;
    padding: 4px 12px;
    background: #ffffff;
    border-radius: 100px;
    margin-top: 10px;
}
.round{
    padding-right: 12px;
}
.round input[type="checkbox"]{display: none;}
.round input[type="checkbox"] + label{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius: 4px;
    background-color: #bdbdbd;
}
.round input[type="checkbox"]:checked + label{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius: 4px;
    background-color: #4A61A3;
}
.round label:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../image/check.png") no-repeat 0 2px / 16px auto;
}
.bookingList{
    padding:0 16px 20px;
    border-bottom: 1px solid #e0e0e0;
}
.bookingList-list{display: flex; margin-top: 20px;}
.bookingList-list-img{
   margin-right: 12px;
}
.bookingList-list-img img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}
.bookingList-title{
    text-align: left;
    font-weight: bold;
    margin: 24px 0;
    padding-bottom:8px;
    border-bottom: 2px solid #212121;
}
.bookingList-bg{
    background: #F5F5F5;
    border-radius: 4px;
    padding:16px 14px;
    margin:16px 0 16px;
}
.bookingList-list-title{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}
.bookingList-list-title span{
    float: right;
    font-size: 15px;
}
.bookingList-sub ul{
    width: 70%;
}
.bookingList-sub li{
    text-align: left;
}
.bookingList-list-sub li{
    color: #757575;
    text-align: left;
    line-height: 1.5em;
}
.bookingList-list-sub li::before{
    content: '•';
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;
    margin: 0 3px;
}
.closebtn{
    position: absolute;
    right:2%;
}
.closebtn img{
    width: 24px;
    height: 24px;
}
.cart-count {
    height:24px;
    background: #F5F5F5;
    border-radius: 4px;
    margin-top:16px;
    padding:12px 16px;
    margin-left: 34px;
}
.cart-count p{
    font-size: 16px;
    text-align: left;
}
.cart-count span{
    font-weight: bold;
    float: right;
}
.count--num li{
    float:right;
}
.count--num img{
    width: 24px;
    height: 24px;
}
input{
    width:48px;
    text-align: center;
    border-style: none;
    background: none;
    font-size: 16px;
    font-weight: 500;
}
.count--price{
    float:left;
    font-size: 16px;
    font-weight: 500;
}
.count--total{
    padding:0 16px;
    height: 54px;
    line-height: 54px;
    border-top: 6px solid #dddfe5;
    border-bottom: 6px solid #dddfe5;
    margin-bottom: 95px;
}
.total--title{
    float:left;
    font-weight: bold;
    font-size: 18px;
}
.total--price{
    float:right; 
    font-weight: bold;
    font-size: 18px;
}
.all--price{
    padding: 0 16px;
    height: 60px;
    line-height: 60px;
    border-bottom: 6px solid #dddfe5;
}
.all--price-name{
    float: left;
    font-size: 18px;
    font-weight: bold;
}
.all--price-pay{
    float: right;
    font-size: 18px;
    font-weight: bold;
}
.foot--btn{
    width: 100%;
    background: #fafafa;
    padding:16px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.callBtn{
    width:44%;
    height: 48px;
    border:1px solid #4A61A3;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
    margin-right: 12px;
}
.callBtn span{
    color:#4A61A3; 
    font-weight: bold;
    font-size: 16px;
}
.buyBtn{
    width:44%;
    height: 48px;
    background: #4A61A3;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
}
.buyBtn span{
    color:#ffffff; 
    font-weight: bold;
    font-size: 16px;
}
.buyBtn-none{
    width:44%;
    height: 48px;
    background: #BDBDBD;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
}
.buyBtn-none span{
    color:#ffffff; 
    font-weight: bold;
    font-size: 16px;
}