@charset "UTF-8";

.process--head{
    display: flex;
    padding:16px;
    border-bottom: 6px solid #dddfe5;
}
.process--head-title{
    font-size:16px;
    font-weight: bold;
    color:#4a61a3;
    width: 90%;
    text-align: left;
}
.process--head-order ul{display:flex;}
.process--head-order li img{
    vertical-align: middle; 
    padding:0 4px;
    width: 14px;
    height: 14px;
}
.order1 {
    position: relative;
    background: #4a61a3;
    width: 24px;
    height: 24px;
    border-radius: 50px;
}
.order2, .order3 {
    position: relative;
    background: #BDBDBD;
    width: 24px;
    height: 24px;
    border-radius: 50px;
}
.order_num{
    color:#ffffff;
    font-weight: bold;
    line-height: 24px;
}
.none-comment{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.none-comment p{
    font-size: 15px;
    color: #757575;
}
.store--name{
    background: #E9EDF2;
    height: 48px;
    line-height: 48px;
    font-weight: bold;
    text-align: left;
    padding: 0 16px;
}
.product--list{
    padding:20px 16px;
    border-bottom: 1px solid #f5f5f5;
}
.box--content{
    display: flex;
    column-gap: 14px;
    position: relative;
}
.cart--img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}
.cart--title{
    text-align: left; 
    font-size: 16px;
    padding-right: 35px;
    color:#424242;
}
.cart--detail{
    text-align: left;
    color:#757575 ;
    margin:4px 41px 0 0;
}
.cart--icon{
    text-align: left; 
    margin-top: 12px;
}
.icon--best{
  font-size: 12px;
  color:#fff;
  padding:1px 4px;
  background: #FF6250;
  border-radius: 2px;
  margin-right: 4px;
}
.icon--freedel{
  font-size: 12px;
  color:#ffffff;
  padding:1px 4px;
  background: #5090FF;
  border-radius: 2px;
  margin-right: 4px;
}
.icon--delfee{
    font-size: 12px;
    color:#4A61A3;
    padding:1px 4px;
    background: #E9EDF2;
    border-radius: 2px;
    margin-right: 4px;
}
.closebtn{
    position: absolute;
    top:0;
    right:-2%;
}
.closebtn img{
    width: 24px;
    height: 24px;
}
.cart-count {
    height:48px;
    background: #f6f7fc;
    border-radius: 4px;
    margin-top:16px;
    padding:0 16px;
}
.count--num li{
    float:right;
    margin:12px 0 0 19px;
}
.count--num img{
    width: 24px;
    height: 24px;
}
input{
    width: 7px;
    text-align: center;
    border-style: none;
    background: none;
    font-weight: bold;
    font-size: 16px;
}
.count--price{
    float:left;
    font-size: 16px;
    margin-top: 12px;
}
.count--total{
    padding:0 16px;
    height: 54px;
    line-height: 54px;
    border-top: 6px solid #dddfe5;
    border-bottom: 6px solid #dddfe5;
    margin-bottom: 95px;
}
.total--title{
    float:left;
    font-weight: bold;
    font-size: 18px;
}
.total--price{
    float:right; 
    font-weight: bold;
    font-size: 18px;
}
.foot--btn{
    width: 100%;
    background: #fafafa;
    padding:16px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.callBtn{
    width:44%;
    height: 48px;
    border:1px solid #4A61A3;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
    margin-right: 12px;
}
.callBtn span{
    color:#4A61A3; 
    font-weight: bold;
    font-size: 16px;
}
.buyBtn{
    width:44%;
    height: 48px;
    background: #4A61A3;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
}
.buyBtn span{
    color:#ffffff; 
    font-weight: bold;
    font-size: 16px;
}
.buyBtn-none{
    width:44%;
    height: 48px;
    background: #BDBDBD;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
}
.buyBtn-none span{
    color:#ffffff; 
    font-weight: bold;
    font-size: 16px;
}