@charset "UTF-8";

.booking--date{
    padding:24px 16px;
    clear: both;
}
.booking--date p{
    color: #424242;
    text-align: left; 
    font-size: 15px;  
}
.booking--date-set{
    text-align: left;
    border: 1px solid #9e9e9e ;
    width: 100%;
    padding: 14px;
    border-radius: 4px;
    margin-top: 8px;
}
input[type="date"]::before{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../image/booking_icon_mini.png") no-repeat 0 0 / 20px auto;
    margin: 0 8px 0 14px;
}
input[type="date"]{
   width: 100%;
   height: 48px;
   line-height: 48px;
   border-radius: 4px;
   border: 1px solid #9e9e9e;
   font-size: 15px;
   margin-top: 4px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
   position: absolute;
   width:50%;
   opacity: 0;
}
.booking--date-set img{
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 8px;
}
.booking--time{
    padding:0 16px;
}
.booking--state span{
    font-weight: bold;
    margin-right: 20px;
}
.booking--time-title{
    text-align: left;
    color: #424242;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
    font-size: 15px;
}
.booking--state{
    padding:12px 0 24px;
}
.booking--state span{
    font-size: 12px;
}
.book-select{
    color:#4a61a3;
}
.book-select::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #4a61a3;
    border-radius: 50%;
    margin-right: 8px;
}
.book-ok{
    color:#9e9e9e;
}
.book-ok::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #9e9e9e;
    border-radius: 50%;
    margin-right: 8px;
}
.book-no{
    color: #e0e0e0;
}
.book-no::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #e0e0e0;
    border-radius: 50%;
    margin-right: 8px;
}
.time_select{
    display: flex;
    flex-wrap: wrap;
}
.time_select span{color: #9e9e9e;}
input[type="radio"] {display:none;}
input[type="radio"] + label {
    border-radius:100px;
    border:1px solid #9e9e9e;
    background-color: #fafafa;
    display: block;
    width: 23%;
    height: 36px;
    line-height: 36px;
    margin:4px 1%;
    box-sizing: border-box;
}
input[type="radio"]:checked + label{
    border-radius:100px;
    border:1px solid #4a61a3;
    background-color: #4a61a3;
    box-sizing: border-box;
}
input[type="radio"]:checked + label span{
    color: #ffffff;
}
input[type="radio"].end + label {
    border-radius:100px;
    border:1px solid #e0e0e0;
    display: block;
    width: 23%;
    height: 36px;
    line-height: 36px;
    margin:4px 1%;
    box-sizing: border-box;
}
input[type="radio"].end + label span{
    color:#e0e0e0;
}
.set-doneBtn{
    font-weight: bold;
    background: #4a61a3;
    padding:14.5px ;
    width: 100%;
    margin-top: 32px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 12%);
}
.set-doneBtn span{
    color: #ffffff;
    font-size: 16px;
}