@charset "UTF-8";

.info--title, .list--title, .payment--title{
    background: #E9EDF2;
    height: 48px;
    line-height: 48px;
    text-align:left;
    font-weight: bold;
    padding:0 16px;
}
.info--address{
    padding:0 16px 32px;
    border-bottom: 6px solid #DDDFE5;
}
.info--address--title{
    float: left;
    font-weight: bold;
    padding:34.5px 0 10.5px;
}
.info--address--title img{vertical-align: middle;}
.info--address--detail{
    float: left;
    clear:both;
    width:100%;
    position: relative;
    margin-bottom:16px;
}
.info--address--detail p{text-align: left;}
.info--address--text2 {font-size: 12px; color: #757575; margin-top: 4px;}
.info--address--change{
    position: absolute;
    top:4.5px;
    right:0;
    background: #E9EDF2;
    border-radius: 24px;
    color:#4a61a3;
    padding:4px 12px;
    font-weight: 400;
    font-size: 12px;;
}
.input--text{
    display:inline-block;
    color:#757575;
    width: 100%;
}
textarea, input[type="text"] {
    padding: 14.5px 14px;
    border: 1px solid #9E9E9E;
    box-sizing: border-box;
    outline: none;
    color:#9E9E9E;
    width: 100%;
    border-radius: 4px;
    margin-bottom:8px;
}
textarea, input[type="text"]:focus{
    background:#f6f7fc ;
    border: 1px solid #4A61A3;
}
input[type="text"]::placeholder{
    color: #757575;
    font-weight: 400;
}
.pay--list{padding:16px 16px 32px; border-bottom: 6px solid #DDDFE5;}
.list--detail--title{
    display: flex;
    font-size:12px;
    font-weight: bold;
    color:#4a61a3;
    margin:16px 0 12px;
}
.list--product--bg{
    background: #F5F5F5;
    padding:0 16px;
    border-radius: 4px;
}
.list--product{
    display: flex;
    padding:16px 0;
    align-items: center;
}
.product--title {width:70%;}
.product--title li{text-align: left;}
.product--title--name{font-size: 16px;}
.product--title--detail{
    font-size: 12px;
    color:#757575;
    margin-top: 2px;
}
.list--product span{
    font-size: 16px;
    font-weight: bold;
    width: 30%;
    text-align: right;
}
.payment{padding:16px;}
.payment--card{
    height:48px;
    line-height: 48px;
    background: #f6f7fc;
    border:1px solid #4a61a3;
    border-radius: 4px;
    width: 100%;
    font-size:16px;
    position: relative;
}
.payment--card span{
    position: absolute;
    top:0;
    right:16px;
    color: #4a61a3;
}
.payment--confirm{
    font-size:12px;
    font-weight: bold;
    color:#4a61a3;
    padding:24px 0 10px;
}
.accordian-arrow{color:#4a61a3; vertical-align: middle;}
.more{transform: rotateX(0deg);}
.less{transform: rotateX(180deg);}

.payment--agree{font-size:12px; position: relative;}
.round{
    position: absolute;
    top:-2px;
    right:16px;
}
.round input[type="checkbox"]{display: none;}
.round input[type="checkbox"] + label{
    display:inline-block;
    width:24px;
    height:24px;
    border-radius: 4px;
    background-color: #bdbdbd;
}
.round input[type="checkbox"]:checked + label{
    display:inline-block;
    width:24px;
    height:24px;
    border-radius: 4px;
    background-color: #4A61A3;
    vertical-align: middle;
}
.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 6px;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 11px;
  }
  .foot--price{
      height: 56px;
      line-height: 56px;
      background-color: #4a61a3;
  }
  .foot--price p{color:#fff; margin-top: 20px;}
  .foot--price span{
      color:#fff;
      font-weight: bold;
      font-size: 18px;
      margin-left: 8px;
}

  