@charset "UTF-8";

.store--name{
    background: #E9EDF2;
    height: 48px;
    line-height: 48px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 6px solid #DDDFE5;
}
.cart--list--container{
    padding:20px 16px; 
    border-bottom: 1px solid #f5f5f5;
}
.box--content{
    display: flex;
    column-gap: 14px;
    position: relative;
  }
  .cart--img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        object-position: center;
        border-radius: 6px;
  }
  .cart--list{width:55%;}
  .cart--title{text-align: left; }
  .cart--detail{
    text-align: left;
    font-size: 12px;
    color:#757575 ;
    margin:4px 0 12px;
  }
.cart--icon{text-align: left;}
.icon--best{
  font-size: 10px;
  font-weight: 300;
  color:#fff;
  padding:1px 4px;
  background: #E36B6B;
  border-radius: 2px;
  margin-right: 4px;
}
.icon--freedel{
  font-size: 10px;
  font-weight: 300;
  color:#ffffff;
  padding:1px 4px;
  background: #51B7B7;
  border-radius: 2px;
  margin-right: 4px;
}
.closebtn{
    position: absolute;
    top:0;
    right:0;
}
.cart-count {
    height:48px;
    background: #f6f7fc;
    border-radius: 4px;
    margin-top:16px;
}
.count--num li{
    float:right;
    margin:16px 16px 0 0;
}
input{
    width: 7px;
    text-align: center;
    border-style: none;
    background: none;
}
.count--price{
    float:left;
    padding:12px 16px;
    font-size: 16px;
    font-weight: bold;
}
.count--total{
    padding:0 16px;
    height: 54px;
    line-height: 54px;
}
.total--title{float:left;}
.total--price{float:right; font-weight: bold;}
.foot--btn{
    width: 100%;
    background: #fafafa;
    padding:16px 0;
    position: absolute;
    bottom: 0;
}
.btn--call{
    width:44%;
    height: 48px;
    border:1px solid #4A61A3;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
    margin-right: 12px;
}
.btn--call span{color:#4A61A3; font-weight: bold;}
.btn--buy{
    width:44%;
    height: 48px;
    border:1px solid #4A61A3;
    background: #4A61A3;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
}
.btn--buy span{color:#ffffff; font-weight: bold;}