@charset "UTF-8";

.tab_menu_container {
  display: flex;
  flex-wrap: nowrap;
  line-height: 45px;
  border-bottom: 1px solid #DADCE0;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: #ffffff;
}
.tab_notice{
  height:48px;
  line-height: 48px;
  background: #f5f5f5;
  border-bottom:6px solid #DDDFE5;
  padding-top: 45px;
}
.tab_notice p{
  color:#757575;
  float: left;
  margin-left:16px;
}
.tab_menu_container li{
  height:45px;
  font-size: 15px;
  width: auto;
  padding:0 12px;
}
.tab_menu_container li.on {
  border-bottom:3px solid #4A61A3;
  font-weight:bold;
  color:#4A61A3;
  width: auto;
  padding:0 12px;
}
.tab_box {
  display:none;
}
.tab_box.on {
  display:block;
}
.box--content{
  display: flex;
  column-gap: 14px;
  padding: 20px 16px;
  border-bottom: 1px solid #f5f5f5;
  align-items: flex-start;
}
.list--img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}
.goods--title{
  text-align: left; 
}
.goods--detail{
  text-align: left;
  color:#757575 ;
  margin:2px 0 ;
}
.goods--price{
  font-size: 16px; 
  text-align:left; 
  font-weight: bold;
}
.goods--icon{
  text-align: left; 
  margin-top: 4px;
}
.icon--best{
  font-size: 12px;
  font-weight: 300;
  color:#fff;
  padding:1px 4px;
  background: #FF6250;
  border-radius: 2px;
  margin-right: 4px;
}
.icon--freedel{
  font-size: 12px;
  font-weight: 300;
  color:#ffffff;
  padding:1px 4px;
  background: #5090FF;
  border-radius: 2px;
  margin-right: 4px;
}

