@charset "UTF-8";

.mainview{
    position:relative;
}
.mainview img{
    width: 100%;
    min-height: 180px;
}
.mainview .bx-pager{
    position:absolute;
    left:0;
    right:0;
    bottom:16px;
    z-index: 100;
}
.mainview .bx-pager div {
    display:inline;
    margin-right:6px;
}
.mainview .bx-pager div a{
    display:inline-block;
    width:8px;
    height:8px;
    background:#eeeeee; 
    border-radius:50px;
    font-size:0;
}
.mainview .bx-pager div a.active{
    background:#4A61A3;
    display:inline-block; 
    width:8px;
    height:8px;
    border-radius:50px;
    font-size:0;
}
.content--title {
    font-size: 18px; 
    margin:24px 0 10px;
}
.content--price {
    font-size:16px;
}
.content--price em{
    font-weight: bold;
    font-size: 16px;
}
.content--icon li{
    display: inline-block; 
    margin:8px 0 22px;
}
.content--icon--best{
    font-size: 12px;
    padding:1px 4px 2px;
    color:#fff;
    background: #FF6250;
    border-radius:2px ;
    margin-right: 4px;
    font-weight: 300;
}
.content--icon--freedel{
    font-size: 12px;
    padding: 1px 4px 2px;
    color:#ffffff;
    background: #5090FF;
    border-radius: 2px;
    font-weight: 300;
}
.content--text {
    color:#757575;
    font-weight: 300;
    padding:20px 0 17px;
    background: #F5F5F5;
}
.option_radio {
    padding:32px 16px 15px;
    font-size: 16px;
    border-bottom: 6px solid #DDDFE5;
}
.option_radio span{
    font-size: 16px;
}
.option_radio li{
    text-align: left; 
    margin-bottom:16px;
    height: 22px;
}
.option_radio li .radioText{
    display:inline; 
    float:right;
    font-weight: bold;
}
.option_radio input[type="radio"] {display:none;}
.option_radio input[type="radio"] + label {
   width: 70%;
   text-align: left;
}
.option_radio input[type="radio"]:checked + label{
    width: 70%;
    text-align: left;
}
.option_radio input[type="radio"]:checked + label::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 5px solid #4a61a3;
    background-color: #ffffff;
    vertical-align:text-top;
    margin-right: 8px;
}
.option_radio input[type="radio"] + label::before{
    content: '';
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 50px;
    border:2px solid #bdbdbd;
    background-color: #fff;
    vertical-align:text-top;
    margin-right: 8px;
}
.count {
    height:56px; 
}
.count li{
    float:right; 
    margin:17px 16px 0 -2px;
}
.count--title{
    float:left; 
    margin:17px 0 0 16px;
}
input[type="text"]{
    width: 7px;
    text-align: center;
    border-style: none;
    background: none;
    font-weight: bold;
}
.all--price{
    height: 71px;
    line-height: 71px;
    padding:0 16px;
    border-top: 6px solid #dddfe5;
}
.all--price--title{
    float: left;
    font-weight: bold;
    font-size: 18px;
}
.all--price--total{
    float: right;
    font-weight: bold;
    font-size: 18px;
}
.footer{
    padding-bottom: 90px;
}
.foot--btn{
    width: 100%;
    background: #fafafa;
    padding:16px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.btn--call{
    width:44%;
    height: 48px;
    border:1px solid #4A61A3;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
    margin-right: 12px;
}
.btn--call span{
    color:#4A61A3; 
    font-weight: bold;
}
.btn--buy{
    width:44%;
    height: 48px;
    border:1px solid #4A61A3;
    background: #4A61A3;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
}
.btn--buy span{
    color:#ffffff; 
    font-weight: bold;
}
.accordian-arrow{
    float:right;
    padding: 5px 16px 0 0;
}
.accordian-arrow img{
    width: 24px;
    height: 24px;
}
.more{
    transform: rotateX(0deg);
}
.less{
    transform: rotateX(180deg) translateY(13%);
}