@charset "UTF-8";

body {background: #4A61A3;}
.introimg{position: relative;}
.introimg img{
    position: absolute;
    width:auto;
    max-width: 52%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 30vh;
}