@charset "UTF-8";

body {background: #4A61A3;}
.introimt{position: relative;}
.introimg img{
    position: absolute;
    width: 187px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 35vh;
}