@charset "UTF-8";

.mainView img{
    width: 100%; 
    min-height: 170px;
}
.mainTag{
    margin:24px 0 0 16px; 
    float: left;
}
.mainTag li{
    display: inline-block;
    font-size: 12px;
    color: #4A61A3;
    padding:1px 4px;
    border-radius: 2px;
    background: #E9EDF2;
    margin-right: 4px;
}
.storeTitle{
    clear: both; 
    float:left; 
    margin:12px 0 0 16px;
}
.storeTitle li{
    text-align: left; 
    line-height: 1.5em;
}
.storeTitle .storeTitle--title{
    font-size: 18px; 
    font-weight: bold;
}
.storeTitle .storeTitle--address{
    color:#757575;
}
.storeTitle .storeTitle--address span{
    display: inline-block;
    position: absolute;
    right: 16px;
    font-weight: bold;
    color: #4A61A3;
}
.storeTitle .storeTitle--address span img{
    vertical-align:revert;
    width: 14px;
    height: 14px;
}
.storeTitle .storeTitle--review{
    font-weight: bold; 
    margin-top: 12px;
}
.storeTitle .storeTitle--review span{
    font-weight: 400;
    color: #757575;
    margin-left:4px;
}
.storeTitle .storeTitle--review img{
    vertical-align:middle;
    width: 16px;
    height: 16px;
    margin-right: 3px;
}
.tab_wrap{clear: both;}
.tab_menu_container {
    display: flex; 
    flex-wrap: nowrap; 
    line-height: 50px;
}
.tab_menu_btn {
    height:50px;
    margin:0 auto;
    width:50%;
    color:#757575;
    font-size: 14px;
    border-top: 6px solid #DDDFE5;
    border-bottom:1px solid #e0e0e0;
    margin-top:24px;
}
.tab_menu_btn.on {
    border-bottom:5px solid #4A61A3;
    font-weight:bold;
    color:#757575;
    width:50%;
    font-size: 14px;
    color:#4A61A3;
}
.tab_box {display:none;}
.tab_box.on {display:block;}
.menu{
    height: 49px;
    background: #E9EDF2;
    text-align: left;
    font-weight: bold;
    line-height: 49px;
    padding-left:16px;
}
.menu1{
    height: 49px;
    background: #E9EDF2;
    text-align: left;
    font-weight: bold;
    line-height: 49px;
    padding-left:16px;
    border-top:6px solid #DDDFE5;
}
.box--content{
    display: flex;
    column-gap: 14px;
    padding: 20px 16px;
    border-bottom: 1px solid #f5f5f5;
}
.list--img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}
.serviceinfo--title{
    text-align: left; 
    margin-bottom: 4px;
    font-size: 16px;
}
.serviceinfo--detail{
    text-align: left; 
    color:#757575 ;
}
.serviceinfo--price{
    font-size: 16px;
    text-align:left;
    font-weight: bold;
    margin-top:12px;
}
.foot--btn{
    width: 100%;
    background: #fafafa;
    padding:16px 0;
}
.foot--btn img{
    width: 24px;
    height: 24px;
}
.btn--call, .btn--cart{
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    margin-right: 8px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 12%);
    position: relative;
}
.btn--cart p{
    position: absolute;
    top: 7%;
    right: 10%;
    font-size: 10px;
    color:#ffffff;
    background: #ff6250;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.btn--buy{
    width:60%;
    height: 48px;
    border:1px solid #4A61A3;
    background: #4A61A3;
    border-radius: 4px;
    vertical-align: top;
    box-shadow: 0 2px 5px rgb(0 0 0 / 12%);
}
.btn--buy span{
    color:#ffffff; 
    font-weight: bold;
    font-size: 15px;
}
.storeinfo--time, .storeinfo--call, .storeinfo--site, .storeinfo--biznum, .storeinfo--aninum{
    text-align: left; 
    margin:3px;
}
.storeinfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:4px auto;
}
.facility{
    padding:20px 9px;
}
.facility ul{
    display: flex;
}
.facility li{
    width:33%; 
    margin:0 7px;
}
.facility li img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}
.review--content{
    padding:20px 16px;
}
.review--title{
    text-align: left; 
    font-weight: bold;
}
.star--icon{
    text-align: left; 
    margin:4px 0 12px;
}
.review--text{
  text-align: left;
  font-size: 12px;
  color:#757575;
  margin-bottom:12px;
}
.review--photo img{
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom:16px;
}
.review--date{
    font-size: 12px; 
    color: #9e9e9e; 
    float:left;
}
.shopinfo p{
    text-align: left;
    font-size: 12px;
    color: #424242;
}
.title-text{
    font-weight: bold;
    display: inline-block;
    text-align: left;
    width: 40%;
}
.goods--title{
    text-align: left; 
    margin-bottom: 4px;
}
.goods--detail{
    text-align: left; 
    font-size: 12px; 
    color:#757575 ;
}
.goods--price{
   font-size: 16px;
   text-align:left;
   font-weight: bold;
   margin-top:12px;
}
.accordian-arrow{
    display: inline-block;
    position: absolute;
    right: 16px;
    margin-top: 6px;
}
.accordian-arrow img{
    width: 24px;
    height: 24px;
}
.more{
    transform: rotateX(0deg);
}
.less{
    transform: rotateX(180deg) translateY(20%);
}