@charset "UTF-8";

.locationTab{
  padding:16px; 
  border-bottom: 6px solid #DDDFE5;
  padding-top: 72px;
}
.locationTab p{
  width:100%;
  height:40px;
  border-radius: 4px;
  background:#F6F7FC ;
  line-height: 40px;
}
.locationTab p img{
  width: 24px;
  height: 24px;
  vertical-align:middle;
}
.tab_menu_container {
  display: flex;
  flex-wrap: nowrap;
  line-height: 56px;
  position: fixed;
  width: 100%;
}
.tab_menu_btn {
  height:56px;
  margin:0 auto;
  width:50%;
  font-weight:bold;
  color:#a5b0d1;
  background-color: #4A61A3;
  font-size: 16px;
}
.tab_menu_btn.on {
  border-bottom:5px solid #a5b0d1;
  font-weight:bold;
  color:#ffffff;
  background-color: #4A61A3;
  width:50%;
  font-size: 16px;
}
.tab_box {display:none;}
.tab_box.on {display:block;}
.box--content{
  display: flex;
  column-gap: 14px;
  padding: 20px 16px;
  border-bottom: 1px solid #f5f5f5;
}
.store--list{width:100%;}
.list--img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}
.store--title{
  text-align: left; 
  margin-bottom: 4px;
  font-size: 15px;
}
.store--address{
  text-align: left; 
  color:#757575 ;
}
.store--icon{
  text-align: left; 
  margin-top: 10px;
}
.store--icon span{
  font-size: 12px;
  font-weight:300;
  color:#4A61A3;
  padding:1px 4px;
  background: #E9EDF2;
  border-radius: 2px;
  margin-right: 4px;
}
.store--distance {
  text-align: right;
}
.store--distance img{
  width: 14px; 
  height: 14px; 
}
.store--distance span{
  font-weight: bold;
  color: #4A61A3;
}
.accordian--up{
  height: 63px;
  line-height: 63px;
  text-align: left;
  background: #fff;
  padding:0 16px;
  font-size: 16px;
  font-weight: bold;
}
.accordian--up em{
  color:#4A61A3;
  font-size: 16px;
  font-weight: bold;
}
.map{
  background: #D6E5E9;
  height:calc(100vh - 114px);
}
.info--accordian{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.content{
  position: absolute;
  bottom: 63px;
  background: #fff;
  width: 100%;
  height: 350px;
  overflow-y: scroll;
  border-bottom: 1px solid #f5f5f5;
}
.accordian-arrow{
  display: inline-block;
  position: absolute;
  right: 16px;
  margin-top: 6px;
}
.accordian-arrow img{
  width: 24px;
  height: 24px;
}
.more{
  transform: rotateX(0deg);
}
.less{
  transform: rotateX(180deg) translateY(20%);
}